<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<h2 style = 'text-align:center;'> Register </h2>

<form method="POST" action="{{url_for('register_member')}}">
    {{form.hidden_tag}}
    <fieldset>
        <legend>Register Form</legend>
        <div style="font-size:20px; font-weight: bold; margin-left: 200px">

            {{form.Notification.label}}{{form.Notification}}
            <br>

            {{form.Email.label}}<br>
            {{form.Email}}
            <br>
            {{form.Role.label}}<br>
            {{form.Role}}
            <br>
            {{form.Promo.label}}<br>
            {{form.Promo}}
            <br>



        <br>
        {{form.submit}}
        </div>
    </fieldset>
</form>

</body>
</html>